
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
   background:url("bg.jpg") no-repeat center center fixed;
   background-size: cover;
}
.container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items:center;
    margin-top: 10px;
    
   
}
.container h1{
    font-size: 35px;
    border-bottom: 5px solid black;
    margin-bottom: 60px;
    padding: 15px 0;
    font-family: 'Roboto Mono', monospace;
}
.box{
    border-bottom: 3px solid black;
}
.box i{
    width: 30px;
    
}
.box input{
    color: black;
    background:none;
    font-size: 15px;
    padding: 6px 83px;
    margin: 10px 0;
    outline: none;
    border: none;
    font-family: 'Staatliches', cursive;
    
}
.btn{
    cursor: pointer;
    padding: 6px 23px;
    margin-top: 40px;
    border-radius: 15px;
    outline: none;
    background: none;
}
.btn:hover{
    opacity: 0.9;
    background-color: red;
    color: white;
}

